<div id="your-decks-container">
  <h2>Your decks ({{listOfDecks.length}})</h2>
  <a class="clickable" routerLink="/decks/new">New Deck</a>
  <ul>
    <li *ngFor="let deck of listOfDecks">
      <div class="deck-line">
        <a class="clickable" [routerLink]="'/decks/' + [deck.id]">{{ deck.name }}</a>
        <a class="clickable red" (click)="delete(deck.id)">Delete</a>
      </div>
    </li>
  </ul>
</div>
<!-- <ul *ngIf="($AllDecksResponse | async) as response">
  <li *ngFor="let deck of response.decks">
    <a [routerLink]="[deck.id]">{{ deck.name }}</a>
    <a class="red" (click)="delete(deck.id)">Delete</a>
    <hr>
  </li>
</ul> -->
