<div id="sign-in-container">
  <app-close-cross id="close-cross" (click)="onCloseForm()"></app-close-cross>
  <div id="sign-in-box">
    <h2>Sign in</h2>
    <hr>
    <form id="sign-in-form" (submit)="onSubmit()">
      <div class="form-field">
        <label for="in-username">Username</label>
        <input class="interactive form-txt-input" type="text" name="username" id="in-username" [(ngModel)]="username">
      </div>

      <div class="form-field">
        <label for="in-password">Password</label>
        <input class="interactive form-txt-input" type="password" name="password" id="in-password" [(ngModel)]="password">
      </div>

      <div class="error-message">
          <p *ngIf="signInFailed">Incorrect username or password.</p>
      </div>
      <button class="interactive" id="btn-submit" type="submit">Sign in</button>
    </form>
  </div>
</div>
