<nav>
  <ul>
    <li>
      <a [routerLink]="'/'">Deck Menu</a>
    </li>
    <li *ngIf="signedUser">
      <a [routerLink]="[signedUser.username,'/decks']">Your decks</a>
    </li>
    <li *ngIf="signedUser">
      <a [routerLink]="['menu/', signedUser.username]">Your menu</a>
    </li>
    <li *ngIf="signedUser">
      {{signedUser.username}}
    </li>
    <li *ngIf="!signedUser">
      <a (click)="openSignInForm()">Login</a>
    </li>
    <li *ngIf="signedUser">
      <a (click)="logout()">Logout</a>
    </li>
    <!-- <li id="burger">
      <div></div>
      <div></div>
      <div></div>
    </li> -->
  </ul>
</nav>
