<div *ngIf="($deckObs | async) as deck" >
  <h1>{{ deck.name }} </h1>
  <p>{{ deck.description }}</p>
  <p>Format: {{ deck.format.name }}</p>
  <ul>
    <li *ngFor="let category of deck.categories">{{ category.name }}</li>
  </ul>
  <a class="red" role="button" (click)="delete(deck.id)">Delete</a>
</div>

<form [formGroup]="addCardListForm" (ngSubmit)="onCardListSubmit()">
  <label for="card-list">Imports cards from text list:</label>
  <textarea id="card-list" formControlName="addCardList" rows="5" cols="40" placeholder="1 Card per line&#13;&#10;format: #quantity Card Name (set-code) collector-code&#13;&#10;Like so: 5 Forest (dmu) 281"></textarea>
  <button type="submit" *ngIf="addCardListForm.valid">Import</button>
</form>

<div id="decklist" *ngIf="($deckObs | async) as deck">
  <img class="card" *ngFor="let card of deck.cards" src={{card.card.imageURI}} alt={{card.card.name}}>
</div>

