<div id="deck-details-container" *ngIf="deck" >
  <div id="deck-info">
    <h1>{{ deck.name }}</h1>
    <p>{{ deck.description }}</p>
    <p>Format: {{ deck.format.name }}</p>
    <p>Chef: <a [routerLink]="['/' + deck.chef + '/menu']">{{ deck.chef }}</a></p>
    <ul>
      <li *ngFor="let category of deck.categories">{{ category.name }}</li>
    </ul>

    <div *ngIf="isOwner()" id="cb-on-the-menu">
      <div class="btn-check" [ngClass]="{'checked': deck.onTheMenu}" (click)="onButtonCheckClicked()">
        <img id="img-check" [src]="checkMarkImagePath" [alt]="checkMarkAltMessage">
        <span>On the Menu</span>
      </div>
    </div>

    <a *ngIf="isOwner()" class="red" role="button" (click)="delete(deck.id)">Delete</a>
  </div>

  <div id="deck-cover" [ngStyle]="{'background-image': 'url(' + deckCover + ')'}"></div>

  <form *ngIf="isOwner()" [formGroup]="addCardListForm" (ngSubmit)="onCardListSubmit()">
    <label for="card-list">Imports cards from text list:</label>
    <textarea id="card-list" formControlName="addCardList" rows="5" cols="40" placeholder="1 Card per line&#13;&#10;Format example: &#13;&#10;5 Forest (dmu) 281&#13;&#10;1 Nissa, Who Shakes&#13;&#10;..."></textarea>
    <button type="submit" *ngIf="addCardListForm.valid">Import</button>
  </form>

  <div class="decklist" *ngIf="deck">
    <img class="magic-card" *ngFor="let card of deck.cards" src={{card.card.imageURI}} alt={{card.card.name}}>
  </div>
</div>

