:host {
  display: block;
  width: 100%;
}

#deck-details-container {
  width: auto;

  --cover-height: 33vh;
}

#deck-cover {
  height: var(--cover-height);
  width: 67vw;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

#deck-info {
  position: absolute;
  height: calc(var(--cover-height) - 1em) ;
  width: calc(100% - 1em);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5em;
  padding: 0.5em;
  background-image: linear-gradient(to right, black 33%, rgba(0, 0, 0, 0));
  border-bottom: 1px solid black;
}

#decklist {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  padding: 1em 0;
}


.btn-check {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0.25em 0.75em;
  gap: .5em;
  border-radius: 10em;
  color: white;
  background-color: rgb(36, 36, 36);
  border: 1px solid rgb(226, 76, 76);
  cursor: pointer;
  font-size: 0.75em;
}

.checked {
  border: 1px solid rgb(91, 187, 27);
}

#img-check {
  width: 0.75em;
}

#settings {
  display: flex;
  gap: 1em;
  align-items: center;
  padding-left: .5em;
}

#import-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.50);
  z-index: 9998;
}

#import-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#import-box {
  background-color: rgb(53, 53, 53);
  border-radius: 1em;
  width: 66vw;
  max-width: 300px;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1em;
  border: 1px solid var(--highlight-color);
}

#card-import {
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#card-import textarea {
  padding: 0.25em;
  background-color: rgb(34, 34, 34);
  border: 1px solid black;
  color: white;
  width: 100%;
  height: 10em;
  box-sizing: border-box;
  margin: .125em 0 .5em 0;
}

.btn-import {
  width: 75%;
  padding: .5em;
  margin: 2em auto;
  border-radius: 10em;
  border: 1px solid rgb(255, 255, 255);
  background-color: var(--main-theme-color);
  color: white;
  font-size: 1.25em;
}

.form-action-line {
  display: flex;
  gap: 1em;
}

.white {
  color: white;
}

app-close-cross {
  align-self: flex-end;
  margin: 0.5rem;
  transform: translateX(calc(0.5rem + 16px));
}

#cards-not-found-list {
  max-height: 5em;
  background-color: rgb(80, 0, 0);
  border: 1px solid red;
  padding: .25em;
  margin: .125em 0 .5em 0;
}

.scroll {
  overflow: auto;
}
.scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scroll::-webkit-scrollbar-corner {
  border-radius: 50%;
  background-color: var(--highlight-color);
}
.scroll::-webkit-scrollbar-track {
  padding: 10px;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--highlight-color);
}
.scroll::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.magic-card {
  position: relative;
}

.card-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: .75rem;
  box-sizing: border-box;
  visibility: hidden;
}

.magic-card:hover .card-overlay {
  visibility: visible;
}

.card-quantity-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: max-content;
  gap: .125em;
}
.card-quantity {
  min-width: 2em;
  padding: .33em;
  background-color: black;
  border-radius: .5em;
  font-weight: bold;
  text-align: center;
}
.btn-quant {
  background-color: black;
  border-radius: 2em;
  padding: .1em;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.btn-change-cover {
  background-image: url('/../assets/img/picture-icon_active.png');
  background-size: cover;
  width: 1.75em;
  aspect-ratio: 20/17;
  margin: 1.4em 0;
  border-radius: 3px;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  position: absolute;
  visibility: hidden;
  width: 10em;
  top: -2.5em;
  left: -10em;
  text-align: center;
  padding: .5em;
  font-size: 0.75em;
  background-color: rgb(49, 49, 49);
  border-radius: .5em;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#deck-details-main-container {
  padding: 2em .5em;
}

#decklist {

}
