:host {
  display: block;
  width: 100%;
}

#deck-details-container {
  width: auto;

  --cover-height: 33vh;
}

#deck-cover {
  height: var(--cover-height);
  width: 67vw;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position-y: top; */
  background-position: right;
}

#deck-info {
  position: absolute;
  height: calc(var(--cover-height) - 1em) ;
  width: calc(100% - 1em);
  padding: 0.5em;
  background-image: linear-gradient(to right, black 33%, rgba(0, 0, 0, 0));
  /* box-shadow: 0 10px 10px black; */
  border-bottom: 1px solid black;
}

.decklist {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}


.btn-check {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0.25em 0.75em;
  gap: .5em;
  border-radius: 10em;
  color: white;
  background-color: rgb(36, 36, 36);
  border: 1px solid rgb(226, 76, 76);
  cursor: pointer;
  font-size: 0.75em;
}

.checked {
  border: 1px solid rgb(91, 187, 27);
}

#img-check {
  width: 0.75em;
}

