<div id="deck-details-container" *ngIf="deck">
  <div id="deck-info">
    <h1>{{ deck.name }}</h1>
    <p>{{ deck.description }}</p>
    <p>Format: {{ deck.format.name }}</p>
    <p>Chef: <a [routerLink]="['/' + deck.chef + '/menu']">{{ deck.chef }}</a></p>
    <ul>
      <li *ngFor="let category of deck.categories">{{ category.name }}</li>
    </ul>
  </div>

  <div id="deck-cover" [ngStyle]="{'background-image': 'url(' + deckCover + ')'}"></div>

  <div id="settings">
    <div *ngIf="isOwner()" id="cb-on-the-menu">
      <div class="btn-check" [ngClass]="{'checked': deck.onTheMenu}" (click)="onButtonCheckClicked()">
        <img id="img-check" [src]="checkMarkImagePath" [alt]="checkMarkAltMessage">
        <span>On the Menu</span>
      </div>
    </div>
    <a *ngIf="isOwner()" class="white" role="button" (click)="toggleCardImportVisibility()">Import cards</a>
    <a *ngIf="isOwner()" class="red" role="button" (click)="delete(deck.id)">Delete the deck</a>
  </div>

  <div id="import-overlay" *ngIf="isCardImportVisible">
    <div id="import-container">
      <app-close-cross id="close-cross" (click)="toggleCardImportVisibility()"></app-close-cross>
      <div id="import-box">
        <form id="card-import" *ngIf="isOwner()" [formGroup]="addCardListForm" (ngSubmit)="onCardListSubmit()">
          <label for="card-list">Imports cards from text list:</label>
          <textarea id="card-list" class="scroll" formControlName="addCardList"
            placeholder="1 Card per line&#13;&#10;Format example: &#13;&#10;5 Forest (dmu) 281&#13;&#10;1 Nissa, Who Shakes&#13;&#10;..."></textarea>
          <div id="cards-not-found-box" *ngIf="cardsNotFound.length > 0">
            <label>Cards not found:</label>
            <ul id="cards-not-found-list" class="scroll">
              <li *ngFor="let line of cardsNotFound">{{ line }}</li>
            </ul>
          </div>
          <button class="clickable btn-import" type="submit" *ngIf="addCardListForm.valid">Import</button>
        </form>
      </div>
    </div>
  </div>

  <div id="deck-details-main-container">
    <h3>Deck list</h3>
    <p class="card-total" [ngPlural]="cardTotal">
      <ng-template ngPluralCase="=0">0 card</ng-template>
      <ng-template ngPluralCase="=1">1 card</ng-template>
      <ng-template ngPluralCase="other">{{ cardTotal }} cards</ng-template>
    </p>

    <div id="decklist" *ngIf="deck">
      <div class="magic-card" *ngFor="let card of deck.cards" [ngStyle]="{'background-image': 'url(' + card.card.imageURI + ')'}">
        <div class="card-overlay">
          <div class="card-quantity-container">
            <div class="clickable btn-quant" *ngIf="isOwner()" role="button" (click)="onQuantityModifyClicked(card.id, 1)">+</div>
            <div class="card-quantity">x{{ card.quantity }}</div>
            <div class="clickable btn-quant" *ngIf="isOwner()" role="button" (click)="onQuantityModifyClicked(card.id, -1)">-</div>
          </div>
          <div class="clickable tooltip btn-change-cover" *ngIf="isOwner()" role="button" (click)="onChangeCoverClicked(card.card.artCrop)">
            <span class="tooltiptext">Select as cover image.</span>
          </div>
        </div>
      </div>
      <!-- <img class="magic-card" *ngFor="let card of deck.cards" src={{ card.card.imageURI }} alt={{ card.card.name }}> -->
    </div>
  </div>
</div>
