<div id="landing-page-container">
  <p>
    Inviting friends for a game night?<br>
    They are new to Magic or don't have their decks with them?
  </p>
  <h1>Present them a</h1>
  <h2 id="title">Deck Menu</h2>

  <!-- Custom event binding -->
  <search-bar (searchTextChanged)="onSearchTextEntered($event)"></search-bar>

  <div id="user-search-results">
    <ul id="usernames-list">
      <li class="clickable" *ngFor="let username of usernames" [routerLink]="[username] + '/menu'">
        {{username}}
      </li>
    </ul>
  </div>

  <!-- <div id="search-bar-container">
    <label for="user-search-bar">Look for a deck chef:</label>
    <input type="search" name="user-search" id="user-search-bar" [(ngModel)]="enteredSearchValue" (input)="onSearchTextChange()">
  </div> -->
</div>
