/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

:root {
  --main-theme-color: rgb(255, 120, 142);
  --bg-color: rgb(29, 29, 29);
  --red-color: rgb(181, 18, 18);
  --highlight-color: rgb(113, 113, 113);
  --contrast-color: white;
}

body {
  background-color: var(--bg-color);
  color: white;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--main-theme-color);
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

hr {
  border: none;
  height: 1px;
  width: 95%;
  background-color: var(--highlight-color);
}

.red {
  color: var(--red-color);
}

.magic-card {
  width: 45%;
  max-width: 63.5mm;
  aspect-ratio: 635/889;
  background-image: url(/src/assets/card-back.jpg);
  border-radius: 5%;
  background-size: cover;
  border-right: 1px solid rgba(255, 255, 224, 0.3);
  border-bottom: 1px solid rgba(255, 255, 224, 0.3);
}

.magic-card:hover {
  outline: 1px  solid var(--main-theme-color);
  transition: all 0.1s ease;
  cursor: pointer;
}

app-close-cross {
  width: 2em;
  /* width: 5em; */
  aspect-ratio: 1/1;
}

.error-message {
  color: var(--red-color);
}
